@charset "UTF-8";
.buttons {
    width: 75%;
    border: medium outset #00B7FF;
    border-radius: 25px;
    background-color: #EFBE73;
    -webkit-box-shadow: 4px 4px 2px;
    box-shadow: 4px 4px 2px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: url(../clickhere.png);
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 600;
    text-shadow: 1px 1px 2px #FFFFFF;
}
.btn-hover {
}
