@charset "UTF-8";
.middlecontent {
    width: 95%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: auto;
    float: left;
    clear: left;
    text-align: center;
}
.pics {
    width: 100%;
    float: left;
    text-align: left;
    border: thin ridge #FF0004;
    border-radius: 10px;
    height: auto;
    padding-top: 300px;
}
